DOCKER_USER_ID="string"
GITHUB_USER_ID="string"

SINGULARITY_IMAGE="path/to/.sif"

BASESPACE_ACCESS_TOKEN=
BASESPACE_API_SERVER=https://api.basespace.illumina.com

APP_DIR="path/to/app"

SCRATCH_DIR="path/to/scratch_dir"
FASTQ_DIR=$SCRATCH_DIR"/fastq"
FASTQ_COLLATED_DIR=$SCRATCH_DIR"/fastq_collated"